<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/hero.css">
</head>
<body>
  <section class="" id="">
  <div class="container hero-cntr">
    <div class="hero-title-wrapper">
      <h1 class="hero-title">Hello.</br>
        I'm Fullstack developer 
        Lloyd Jefferson.</h1>
    </div>
    <ul class="hero-soc-networks">
        <li><a class="hero-soc-network" href="https://www.instagram.com/goitclub/">IG</a></li>
        <li><a class="hero-soc-network" href="https://www.youtube.com/c/GoIT">YT</a></li>
        <li><a class="hero-soc-network" href="https://www.facebook.com/goITclub/">FB</a></li>
        <li><a class="hero-soc-network" href="https://github.com/irina8660/command-project-portfolio">GH</a></li>
        <li><a class="hero-soc-email" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
      </ul>
  </div>
</section>
</body>
</html>