<section class="reviews" id="">
  <div class="container">
      <h2 class="reviews-title">Reviews</h2>
      <div class="swiper">
          <ul class="swiper-wrapper reviews-block"></ul>
          <div class="swiper-button-prev">
              <svg class="left-svg" width="32" height="32">
                  <use href="../public/icons.svg#icon-arrow-left"></use>
              </svg>
          </div>
          <div class="swiper-button-next">
              <svg class="right-svg" width="32" height="32">
                  <use href="../public/icons.svg#icon-arrow-left"></use>
              </svg>
          </div>
      </div>
  </div>
</section>
<script src="../js/revievs.js" type="module"></script>
