.header {
  position: absolute;
  top: 32px;
  width: 100%;
  z-index: 11;
}

.hidden,
.header__nav--hidden {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

/* Mobile menu */
.header__mobile-menu-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.34s cubic-bezier(0.39, 0.46, 0.02, 0.86);
}

.header__mobile-menu-container.show {
  transform: translateX(100%);
}

.header__mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mobile-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 55px;
  border-radius: 60px;
  background-color: #ed3b44;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  margin: 289px 0 64px 0;
  transition: background-color 250ms ease;
}

/* Logo */
.header__logo {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.header__logo-image {
  width: 80px;
  height: 80px;
}

.header__logo-text {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* Mobile nav */
.header__mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__mobile-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 6px 0;
  color: #fafafa;
  text-decoration: underline;
  cursor: pointer;
  transition: color 550ms ease;
}

.header__mobile-nav-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.header__mobile-nav-item:hover,
.header__mobile-nav-link:hover {
  color: var(--button-text);
}

/* Burger */
.brg-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brg {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fafafa;
}

/* Buttons */
button:hover,
button:focus-visible {
  background-color: transparent;
}

.header__order-button:hover,
.header__mobile-order-button:hover {
  background-color: #e0373f;
}

/* Desktop nav */
.header__nav {
  display: none;
}

.header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 39px;
  background-color: transparent;
  border: none;
  padding: 0;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #fafafa;
  transition: color 250ms ease;
}

.header__menu-button:hover {
  color: #fafafa;
}

.header__nav-link {
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: color 250ms ease;
}

.header__order-button {
  display: none;
}

.header__nav-list {
  display: none;
}

.menu-visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 47px;
  width: 80px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */
@media screen and (max-width: 767px) {
  .header__mobile-menu-button,
  .header__mobile-menu-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 28px;
    width: 28px;
  }

  .header__mobile-menu-close-button {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .header__mobile-menu-icon,
  .header__mobile-menu-close-icon {
    stroke: #fafafa;
  }

  .header__order-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-button,
  .header__mobile-menu-container {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    position: relative;
  }

  .header__order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    border-radius: 60px;
    background-color: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    border: none;
    transition: background-color 250ms ease;
  }
}

@media screen and (min-width: 1440px) {
  .header__container {
    width: 100%;
  }

  .header__menu-button:hover,
  .header__nav-link:hover,
  .header__nav-link:focus {
    color: #fafafa;
    background-color: transparent;
  }
}
